{% extends "base.html" %}

{% block content %}
<main>
    <h1 class="title">Кирилл Горбатюк</h1>
    <ul class="links">
        <li><img width="16" height="16" src="https://img.icons8.com/windows/32/github.png" alt="GitHub"><a href="https://github.com/homsick1" target="_blank">GitHub</a></li>
        <li><img width="16" height="16" src="https://img.icons8.com/ios-filled/50/telegram.png" alt="Telegram"><a href="https://t.me/homsick" target="_blank">Telegram</a></li>
        <li><img width="16" height="16" src="https://img.icons8.com/fluency/48/gmail-new.png" alt="Gmail"><a href="mailto:7659464@gmail.com" target="_blank">Почта</a></li>
    </ul>
</main>
{% endblock %}