#tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Цвет фона страницы */
}

main {
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem; /* Расстояние между элементами */
}

.links li {
    display: flex;
    align-items: center;
}

.links li img {
    margin-right: 0.5rem;
}